[submodule "images"]
	path = images
	url = https://github.com/Githubio2022/images

[submodule "_gallery"]
	path = _gallery
	url = https://github.com/Githubio2022/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/Githubio2022/_quotes
